
.titulo1 {
    font-family:verdana;
    background-color: gold;
    border-radius: 30px;
    margin-inline-start: 790px;
    margin-inline-end: 790px;
    text-align: center;
}

/* IMAGENES */
.fotoinicio {
border-radius: 400px;
}

.amigos1 {
    border-radius: 400px;
    width: 350px;
}
.gato {
    border-radius: 400px;
    width: 350px;
}
/* CONTAINER ES EL BOTON CON PARRAFO info de ryan*/
.container { 
    
    font-size: 24px;
    border-radius: 30px;
}
.container p{
    text-align: left;
}
/* ENLACES a DEL BOTON CON PARRAFO*/
a {
    text-decoration: none;
font-family: verdana;
}


/* AUDIO */
audio {
    border-radius: 30px;
   
}





