.logos img {
    width: 218px;
    border-radius: 50px;
    cursor: url(../imagenes/garra.png), auto;
    padding: 1cm;
}

.logos{
    background-color: white;
    border-radius: 55px;
    border-color: transparent;
    margin-top: 2cm;
   
    
}

.logos img:hover{

    transform: scale(1.1); filter: drop-shadow(2px 3px 3px rgb(97, 204, 253));
}
