
.titulo1 {
    margin-top: 4cm;
    background-color: gold;
    border-radius: 30px;
    margin-inline-start: 790px;
    margin-inline-end: 790px;
    text-align: center;
}

.titulo1:hover{
    transform: scale(1.1);
}
/* IMAGENES */
.gif-en-intro{
border-radius: 40px;
width: 300px;
}

/* CONTAINER ES EL BOTON CON PARRAFO info de ryan*/
.container { 
    background-color:gold;
    border-radius: 60px;
}
.container p{
     text-align: left;   
     font-size: 24px;
}
.container:hover{
 background-color: gold;
 transform: scale(1.1);
}
/* ENLACES de CONTAINER*/
a {
    text-decoration: none;
font-family: verdana;
}




