
.titulo1 {
    font-family:verdana;
    background-color: gold;
    border-radius: 30px;
    margin-inline-start: 790px;
    margin-inline-end: 790px;
    text-align: center;
}

.titulo1:hover{
    transform: scale(1.1);
}
/* IMAGENES */
.fotoinicio {
border-radius: 400px;
}

.amigos1 {
    border-radius: 400px;
    width: 350px;
}
.gato {
    border-radius: 400px;
    width: 350px;
}
/* CONTAINER ES EL BOTON CON PARRAFO info de ryan*/
.container { 
    background-color: white;
    border-radius: 30px;
}
.container p{
     text-align: left;   
     font-size: 24px;
}
.container:hover{
 background-color: gold;
 transform: scale(1.1);
}
/* ENLACES de CONTAINER*/
a {
    text-decoration: none;
font-family: verdana;
}




