/* FONDO */
*{background-color:aquamarine}
.titulo1 {
    font-family:verdana;
    background-color: gold;
    border-radius: 30px;
    margin-inline-start: 790px;
    margin-inline-end: 790px;
}
* {font-family:
    verdana;}

@font-face  {
    font-family: "verdana";
   src: url("fuente4.TTF");

}

body {
    min-height: calc(100vh - 100px - 300px);
}
.container p a {
    border-radius: 0;
   background-color:none;
}

/* AUDIO */
audio {
    border-radius: 30px;
    
}


/* IMAGENES */
.fotoinicio {
border-radius: 400px;
}

.gatoryan {
    border-radius: 400px; 
}

.amigos1 {
    border-radius: 400px;
    width: 350px;
}

.fotomapa{
    width: 600px;
}
/* ENLACES */
a {
    text-decoration-line:none;
font-family: arial;
}

#tatiana{
    background-color: gold;
}

/* BOTONES */
button {
    font-size: 24px;
    background-color: none;
    border-radius: 30px;
}
button p{
    text-align: left;
}
.boton:link{
    font-family: monospace;
}

.boton{
    width: 400px;
    background-color: gold;
}
.boton:hover{
    background-color: rgb(247, 224, 224);
    color: rgb(140, 138, 150);
}

.parrafo{
    text-align:center;
}

/* FOOTER */
footer{
    width: 100%;
    height: 300px;
    background-color: gold;
    border-radius: 30px;
}
footer p{
    font-family: "verdana";
    src: url("fuente4.TTF");
    font-size: 20px;
    background-color: gold;
    padding: 3px;
    text-align: center;
}


